
<div class="row">
  <div class="col s1">
    &nbsp;
  </div>

  <div class="col s5">
    <h3>Log In</h3>
    <%= form_tag sessions_path do %>
      <div class="control-group">
        <%= label_tag :username %>
        <div class="controls">
          <%= text_field_tag :username, params[:username] %>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      
      <div class="actions"><%= submit_tag "Log In" %></div>
    <% end %>
  </div>
  <div class="col s2">
    &nbsp;
  </div>

  <div class="col s4">
    <div class="panel clearfix">
      <h3>New User?</h3>
      <p>Sign up Now!
      <%= link_to "Click here to create a new account and join the Lab", new_user_path %>. </p>
    </div>
  </div>

</div>