<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_role.project_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project_role.role_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_role.user_id %>
</p>

<p>
  <strong>Invite num:</strong>
  <%= @project_role.invite_num %>
</p>

<%= link_to 'Edit', edit_project_role_path(@project_role) %> |
<%= link_to 'Back', project_roles_path %>
