<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Proj description</th>
      <th>Genre</th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Category</th>
      <th>Status</th>
      <th>Preview level</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.owner_id %></td>
        <td><%= project.proj_description %></td>
        <td><%= project.genre %></td>
        <td><%= project.title %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.category %></td>
        <td><%= project.status %></td>
        <td><%= project.preview_level %></td>
        <td><%= project.user_id %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
