<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner_id %>
</p>

<p>
  <strong>Proj description:</strong>
  <%= @project.proj_description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @project.genre %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Preview level:</strong>
  <%= @project.preview_level %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
