<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 
    <title>The Lab %></title>

    <%= stylesheet_link_tag "application" %>
 
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <style>
        body {
           background-image: url(''/assets/lab.png'');
        }
    </style>

  </head>

  <body>
    
      <div class="col s8" >
        <%= render 'partials/nav' %>
      </div>

      <div class="col s2">


      <br>

      <%= yield %>

      <div id="body">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
      </div>

      


      <footer>
 
      </footer> 

    
  </body>
</html>